*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border:1px solid red;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 15, 41);
    color:white;
    height:60px;

}
.nav2 ul{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60px;
    margin-right:80px;

}
.nav2 ul li a{
    color:white;
    text-decoration: none;
    font-size:18px;
}
.nav2 ul li{
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: center;
    width:70px;
    height:100%;
    margin-left:40px;
}

.logo{
    color:white;
    font-size:25px;
    margin-left:40px;
}

.home-section{
    display:flex;
    width:50%;
    height:400px;
    
    
}
body{
    background-color:rgb(21, 21, 53);
}
.container1{
    display:flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    color:white;
    width:100%;
    margin-top:30px;
    margin-left:100px;
    
}
.container1 h1{
    font-size:45px;
    padding:5px;
}
.container1 h2{
    font-size:27px;
    padding:5px;
}
.container1 p{
    font-size:15px;
    width:64%;
    text-align: justify;
    padding:5px;
}
.about-container{
    display:flex;
    align-items:center;

    flex-direction: row;
    width:100%;
}
.moreaboutme{
    background-color: aqua;
    color:rgb(26, 6, 6);
    height:40px;
    width:115px;
    border-radius: 30px;
    cursor:pointer;
    font-size:13px;
    font-weight:700;
    margin:30px 30px 0px 0px;
}
.moreaboutme:hover{
    transform: scale(1.04,1.04);
    box-shadow: 2px 2px 5px aqua,-2px -2px 5px aqua;
}
.container3{
    width:50%;
}
.container2{
    width:50%;
}
.container3 h1{
    color:white;
    font-size:40px;

}
.container3 h2{
    color:white;
    font-size:27px;
}
.container3 p{
    color:white;
    font-size:18px;
    text-align: justify;
    padding:30px 0px;
}
